@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@font-face {
    font-family: minha-fonte;
    src: url(littlebird.ttf);
}
h1{
    font-size: 2em;
}

h2 {
    font-weight: normal;
}
.padrao {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.google {
    font-family:"Pacifico", cursive;
}

.local {
    font-family: minha-fonte;
}